<%= form_for(@flux_like) do |f| %>
  <% if @flux_like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flux_like.errors.count, "error") %> prohibited this flux_like from being saved:</h2>

      <ul>
      <% @flux_like.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :flux_id %><br>
    <%= f.text_field :flux_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
