<p id="notice"><%= notice %></p>

<p>
  <strong>Touser:</strong>
  <%= @private_message.to_user %>
</p>

<p>
  <strong>Fromuser:</strong>
  <%= @private_message.from_user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @private_message.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @private_message.picture %>
</p>

<%= link_to 'Back', private_messages_path %>
