<p id="notice"><%= notice %></p>

<h1>Listing Fluxes</h1>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<%= render @fluxes %>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<br>

<%= link_to 'New Flux', new_flux_path %>
